VITE_SUPABASE_URL="https://cforiyadtuhcvenkdoez.supabase.co";
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmb3JpeWFkdHVoY3Zlbmtkb2V6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MjgzNDIsImV4cCI6MjA4ODMwNDM0Mn0.HJUDR79EHdm2rkXOcrhEF0GRDO_tiOJ934WoofN5F2o"

